@model IEnumerable<clientSide.Models.ScrapeTable>

@{
    ViewBag.Title = "Index";
}

<h2>Yvon's Portfolio</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PullTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ChangePerc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeAvg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PullTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPrice)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.ChangePerc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeAvg)
        </td>

    </tr>
}

</table>
